@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: #e4f0e1;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  object-fit: contain;
}

input,
button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}

.app {
  background-image: url("../public/background-image.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
